:root {
  color: #fff;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.4px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #1C3EDD;
  --primary-color-light: #1C9FDD; 
  --bg-color: #121c38;
  --secondary-color: #FFC948;
  --secondary-color-light: #FFF859;
}
