@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg-color font-noto-sans;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: #fff;
  letter-spacing: 0.4px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
a,
p{
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.8rem;
}

p{
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  @apply bg-secondary-color border-2 border-secondary-color-light;
  border-radius: 100px;
  padding: 0.6em 1.2em;
  font-weight: 600;
  cursor: pointer; 
  color: #000;
  font-size: 1rem;
  transition: all 0.25s ease;
}

button:hover {
  @apply bg-primary-color-light border-primary-color;
  color: #000;
}

button:focus,
button:focus-visible {
  outline: none;
}
